.App {
  text-align: center;
}

/* Header.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: #00379c;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  box-shadow: 0px 2px 15px rgba(0,0,0,0.1);
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.nav-links {
  list-style: none;
  display: flex;
  height: 75px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 100px;
}

.nav-links a {
  color: #00379c;
  text-decoration: none;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  transition: 0.1s;
}

.nav-links a.active {
  border-style: solid;
  border-width: 0 0 5px 0;
  border-color: #00379c;
}

/* CSS */
.home-section {
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-section .content {
  text-align: center;
}

.about-section,
.faq-section,
.blog-section,
.contact-section {
  text-align: center;
  min-height: 300px;
}

.services-section {
  text-align: center;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

.image-content {
  padding: 10px;
  margin-left: 24px;
  margin-right: 24px;
  text-align: justify;
}

.footer {
  text-align: center;
}